name: Make

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'Makefile'

jobs:
  make:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Build from source
        run: make
      - name: Push to gh pages
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: gh-pages
          commit_message: "chore: auto-generate updated pages"
          commit_author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
